.text{
    font-family: 'Courier New', Courier, monospace;
}

.ack {
    text-align: center;
    font-size: 140px;
    font-family: 'Bungee Shade', cursive;
    margin-top: 110px;
    color: black;
    height: 260px;
    cursor: default;
}

.name {
    text-align: center;
    font-size: 50px;
    font-family: 'Arvo', serif;
    cursor: default;
}

#search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 35px;
    margin-top: 1%;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    text-decoration: none;
    text-emphasis: none;
    border-width: 1px;
    border-color: grey;
    position:relative
}

#search:focus{
    outline: none;
}

#search_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 350px;
    overflow-y: scroll;
    border-radius: 5px;
}

#search_container::-webkit-scrollbar { 
    display: none; 
}

.search_result {
    background-color: white;
    height: 100px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    border-color: grey;
}
body {
    background-color: rgb(255, 255, 255);
}


.no_result_text{
    text-align: center;
    font-size: 40px;
    margin-top: 25px;
    font-family: 'Arvo', serif;
}

.family_name {
    width: 25%;
    font-size: 25px;
    text-align: center;
    font-family: 'Arvo', serif;
    margin-left: 20px;
    margin-top: 30px;
}