<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{{name}}</title>
    <link rel='stylesheet' href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div></div>
    <img class='family_image' src="http://wp.production.patheos.com/blogs/standingonmyhead/files/2014/11/family2.jpg" width="250px">
    <div class='family_page_name'>{{name}} Family</div>
    <div class='family_location'>{{city}}, {{state}}</div>
    <hr>
    <hr class='vl'>
    <div class='comments_header'>Comments</div>
    <div class='comments_container'></div>
    <div class='ratings_header'>Ratings</div>
    <div class='ratings_container'>
      <div class='rating_section'>
        <div class='skill'>Parenting</div>
        <div>
          <img class='star' class='row_1' id='row_1_star_1' src="/images/star.png">
          <img class='star' class='row_1' id='row_1_star_2' src="/images/star.png">
          <img class='star' class='row_1' id='row_1_star_3' src="/images/star.png">
          <img class='star' class='row_1' id='row_1_star_4' src="/images/star.png">
          <img class='star' class='row_1' id='row_1_star_5' src="/images/star.png">
        </div>
      </div>
      <hr class='ratings_divider'>
      <div class='rating_section'>
        <div class='skill'>Cleanliness</div>
        <div>
          <img class='star' class='row_2' id='row_2_star_1' src="/images/star.png">
          <img class='star' class='row_2' id='row_2_star_2' src="/images/star.png">
          <img class='star' class='row_2' id='row_2_star_3' src="/images/star.png">
          <img class='star' class='row_2' id='row_2_star_4' src="/images/star.png">
          <img class='star' class='row_2' id='row_2_star_5' src="/images/star.png">
        </div>
      </div>
      <hr class='ratings_divider'>
      <div class='rating_section'>
        <div class='skill'>Environment</div>
      </div>
      <hr class='ratings_divider'>
      <div class='rating_section'>
        <div class='skill'>Schools</div>
      </div>
      <hr class='ratings_divider'>
      <div class='rating_section'>
        <div class='skill'>Experience</div>
      </div>
    </div>
    <script src="/scripts/family_page.js"></script>
  </body>
</html>
